<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Vue从零开始</title>
  </head>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="../lib/vue-router.js"></script>
  <body>
    <div id="vue1">
      <input v-model="x" type="text" />
      <input v-model="m" type="text" />
      <input type="text" v-model="xm" />
    </div>
  </body>
  <script>
    var vm = new Vue({
      el: "#vue1",
      data: {
        x: "",
        m: "",
        xm: ""
      },
      methods: {},

      watch: {
        // this.$router.path 能获取到当前的路由
        "$router.path": function() {}
      }
    });
  </script>
</html>
