<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue从零开始</title>
    <link rel="stylesheet" href="../lib/bulma.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
  </head>
  <body>
    <section id="vue1">
      <section class="hero is-primary">
        <div class="hero-body" style="padding:10px;">
          <div class="container">
            <h1 class="title">
              品牌
            </h1>
          </div>
        </div>
      </section>
      <label style="position: relative;top: 16px;font-weight: 600;">名称:</label
      ><input
        v-model="name"
        class="input is-primary"
        type="text"
        placeholder=""
        style="width: 200px;margin: 10px 10px;"
      />
      <a
        class="button is-primary"
        style="margin: 10px 10px;"
        @keyup.enter="addObj"
        @click="addObj"
        >添加</a
      >
      <label
        style="position: relative;top: 16px;font-weight: 600;margin-left:700px"
        @
        >搜索:</label
      >
      <input
        v-model="keyword"
        class="input is-primary"
        type="text"
        placeholder=""
        style="width: 200px;margin: 10px 10px;"
      />
      <table width="100%" class="table is-bordered">
        <thead>
          <tr>
            <th>Id</th>
            <th>名称</th>
            <th>时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in list" :key="item.id">
            <th>{{ item.id }}</th>
            <th>{{ item.name }}</th>
            <th>{{ item.date }}</th>
            <th><a @click.prevent="delObj(item.id)">删除</a></th>
          </tr>
        </tbody>
      </table>
    </section>
  </body>
  <script>
    var vm = new Vue({
      el: "#vue1",
      data: {
        keyword:'',
        name: "",
        list: []
      },
      methods: {
        // 获取 数据
        getList() {
          console.info("xxxxxxxxxxxxxxx")
          this.$http
            .get("http://localhost:8081/api/getJson")
            .then(result => {
              if (result.body.status == 0) {  
                // 注意 js 方法 push 添加数组 默认为一个元素 ，这里就是添加了 索引为 0 但是 值为 数组 ，
                // 返回值为数组长度
                // 方法一：
                // this.list.push(result.body.message)
                // this.list = this.list[0]
                // 方法二：
                // this.list = this.list.concat(result.body.message)
                // 方法三：
                this.list = result.body.message
                console.info(this.list)
              } else {
                alert("系统繁忙！");
              }
            })
            .catch(err => {});
        },
        // 添加数据
        addObj() {
          this.$http
            .post(
              "http://localhost:8081/api/addObj",
              {
                name: this.name
              },
              { emulateJson: true }
            )
            .then(result => {
              if (result.body.status == 0) {
                this.getList();
              } else {
                alert("添加失败！");
              }
            })
            .catch(err => {});
        },
        // 删除数据
        delObj(id) {
          this.$http
            .get("http://localhost:8081/api/delObj?id=" + id)
            .then(result => {
              if (result.body.status == 0) {
                this.getList();
              } else {
                alert("删除失败！");
              }
            })
            .catch(err => {});
        }
      },
      created() {
          this.getList();
        }
    });
  </script>
</html>
