<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Vue从零开始</title>
  <link rel="stylesheet" href="../lib/bulma.css" />
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<div id="vue1">
  <section class="hero is-primary">
    <div class="hero-body" style="padding:10px;">
      <div class="container">
        <h1 class="title">
          品牌
        </h1>
      </div>
    </div>
  </section>
  <label style="position: relative;top: 16px;font-weight: 600;margin: 0 0 0 15px;">Id:</label><input v-model="id"
    class="input is-primary" type="text" placeholder="" style="width: 200px;margin: 10px 10px;" />
  <label style="position: relative;top: 16px;font-weight: 600;">名称:</label><input v-model="name"
    class="input is-primary" type="text" placeholder="" style="width: 200px;margin: 10px 10px;" />
  <a class="button is-primary" style="margin: 10px 10px;" @click="add">添加</a>
  <label style="position: relative;top: 16px;font-weight: 600;margin-left:700px" @>搜索:</label>
  <input v-model="keyword" class="input is-primary" type="text" placeholder=""
    style="width: 200px;margin: 10px 10px;" />
  <table width="100%" border="" cellspacing="" cellpadding="" class="table is-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>名称</th>
        <th>时间</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item in search(keyword)" :key="item.id">
        <th>{{ item.id }}</th>
        <th>{{ item.name }}</th>
        <th>{{ item.date }}</th>
        <th><a @click.prevent="del(item.id)">删除</a></th>
      </tr>
    </tbody>
  </table>
</div>

<body></body>
<script type="text/javascript">
  var vm = new Vue({
    el: "#vue1",
    data: {
      id: "",
      name: "",
      keyword: '',
      list: [
        { id: 1, name: "宝马", date: new Date() },
        { id: 2, name: "奔驰", date: new Date() },
        { id: 3, name: "野马", date: new Date() }
      ]
    },
    methods: {
      add() {
        this.list.push({ id: this.id, name: this.name, data: new Date() });
      },
      del(id) {
        // this.list.some((item, i) => {
        //   if (id == item.id) {
        //     this.list.splice(i, 1);
        //     return true;
        //   }
        // });
        // 方案二: findIndex方法返回true时停止循环,返回当前索引值
        var index = this.list.findIndex(item => {
          if (id == item.id) return true;
        });
        this.list.splice(index, 1);
      },
      search(keyword) {
        // var newList = []
        // this.list.forEach(item => {
        //   if (item.name.indexOf(keyword) != -1) {
        //     newList.push(item)
        //   }
        // })
        // return newList
        // 方案二: 注意: some ,filter , forEach , findIndex 是ES6的数组新方法
        return this.item.filter(item => {
          if (item.name.include("keyword")) {
            return true
          }
        }
      }

    }
  });
</script>

</html>